<!doctype html>
<html>
  <head>
    <meta charset='utf-8'>

    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content='IE=edge,chrome=1' http-equiv='X-UA-Compatible'>

    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || 'The Middleman' %></title>

    <%= stylesheet_link_tag 'application' %>
  </head>

  <body>
    <%= partial :nav_topbar %>
    <%= partial :nav_toolbar %>

    <!-- Content -->
    <div class='container'>
      <div class='row'>
        <!-- Move to a partial -->
        <aside class='col-sm-2'>
          <%= partial :nav_main %>
        </aside>

        <div class='content col-sm-7'>
          <div class='card card-block bg-faded'>
            <form class='form-horizontal' role='form'>
              <div class='tab-content'>
                <!-- New Note
                ================================================== -->
                <div class='tab-pane fade in active' id='new-note-tab'>
                  <div class='form-group'>
                    <textarea class='form-control note-content-field' id='note-content-input' placeholder='Share something...' rows='3'>
                    </textarea>
                  </div>

                  <div class='form-group hidden' id='note-hidden'>
                    <input class='form-control' id='note-share-input' type='text' placeholder='+ Add names, circles or email addresses to share with...'>
                  </div>
                </div>

                <!-- New Event
                ================================================== -->
                <div class='tab-pane fade in' id='new-event-tab'>
                  <div class='form-group'>
                    <label for='event-title-input' class='col-sm-2 control-label'>Title</label>
                    <div class='col-sm-10'>
                      <input type='text' class='form-control' id='event-title-input' placeholder='Event title' autofocus>
                    </div>
                  </div>

                  <div class='form-group' id='event-time-input'>
                    <label for='event-time-input' class='col-sm-2 control-label'>Time</label>
                    <div class='col-sm-10'>
                      <input class="form-control date start" type="text" style='width: 25%; display: inline-block;' />
                      <input class="form-control time start" type="text" style='margin-left: -5px; width: 20%; display: inline-block; border-top-left-radius: 0; border-bottom-left-radius: 0;' /> to
                      <input class="form-control time end" type="text" style='width: 20%; display: inline-block;' />
                      <input class="form-control date end" type="text" style='margin-left: -5px; width: 25%; display: inline-block; border-top-left-radius: 0; border-bottom-left-radius: 0;' />
                    </div>
                  </div>

                  <div class='form-group'>
                    <label for='event-location-input' class='col-sm-2 control-label'>Location</label>
                    <div class='col-sm-10'>
                      <input type='text' class='form-control' id='event-location-input' placeholder='Location (optional)'>
                    </div>
                  </div>

                  <div class='form-group'>
                    <label for='event-content-input' class='col-sm-2 control-label'>Details</label>
                    <div class='col-sm-10'>
                      <textarea type='text' class='form-control' id='event-content-input' placeholder='Details (optional)'></textarea>
                    </div>
                  </div>

                  <div class='form-group'>
                    <label for='event-share-input' class='col-sm-2 control-label'>To</label>
                    <div class='col-sm-10'>
                      <input type='text' class='form-control' id='event-share-input' placeholder='+ Add names, circles or email addresses to share with...'>
                    </div>
                  </div>
                </div>
              </div>

              <div class='btn-group'>
                <a class='btn btn-secondary' id='new-note' title='New note' href='#new-note-tab' data-toggle='tab'>
                  <span class='fa fa-pencil text-success'></span>
                </a>
                <a class='btn btn-secondary' id='new-photo' title='New photo'><span class='fa fa-camera text-primary'></span></a>
                <a class='btn btn-secondary' id='new-link' title='New link'><span class='fa fa-link'></span></a>
                <a class='btn btn-secondary' id='new-video' title='New video'><span class='fa fa-youtube-play text-danger'></span></a>
                <a class='btn btn-secondary' id='new-event' title='New Event' href='#new-event-tab' data-toggle='tab'>
                  <span class='fa fa-calendar text-info'></span>
                </a>
              </div>

              <footer class='form-actions hidden' id='note-form-actions'>
                <a class='btn btn-success' id='note-form-submit'>Submit</a>
                <a class='btn btn-default' id='note-form-cancel'>Cancel</a>
              </footer>
            </form>
          </div>

          <section class="activities">
            <%= yield %>
          </section>
        </div>

        <aside class='col-sm-3'>
          <div class="card">
            <div class="card-block">
              <h6 class="card-title">In My Circles (38)</h6>

              <ul class="">
              </ul>
            </div>
          </div>

          <div class="card">
            <div class="card-block">
              <h6 class="card-title">Suggested Groups</h6>

              <ul class="">
              </ul>
            </div>
          </div>

          <div class="card">
            <div class="card-block">
              <h6 class="card-title">Trending</h6>

              <ul class="">
              </ul>
            </div>
          </div>

          <div class="card">
            <div class="card-block">
              <h6 class="card-title">You May Know</h6>

              <ul class="">
              </ul>
            </div>
          </div>

          <div class="card">
            <div class="card-block">
              <h6 class="card-title">You Might Like</h6>

              <ul class="">
              </ul>
            </div>
          </div>

          <div class="card">
            <div class="card-block">
              <h6 class="card-title">Upcoming Events</h6>

              <ul class="">
              </ul>
            </div>
          </div>
        </aside>
      </div><!-- .row -->
    </div><!-- .container -->

    <!-- Footer -->
    <%= partial :footer %>

    <%= javascript_include_tag  'application' %>
    <script>
      Holder.addTheme('acs', { background: '#ccc', foreground: '#999', size: 12 })
      Holder.addTheme('dark', { background: '#000', foreground: '#aaa', size: 11, font: 'Monaco' })
    </script>
  </body>
</html>
