---
title: First Name - Socializer
---

<p><strong>Example:</strong> this is an example of the Profile toolbar</p>
<nav class="toolbar navbar navbar-toolbar navbar-default navbar-static-top" style="margin-bottom: 58px;">
  <ul class="nav navbar-nav">
    <li class="active"><%= link_to('About', '/profile/about.html') %></li>
    <li><%= link_to('Posts', '/profile.html') %></li>
    <li><%= link_to('Collections', '/profile/collections.html') %></li>
    <li><%= link_to('Photos', '/profile/photos.html') %></li>
    <li><%= link_to('Videos', '/profile/videos.html') %></li>
    <li><%= link_to('Likes', '/profile/likes.html') %></li>
  </ul>
</nav>

<div class="row">
  <%= partial 'profile/about/people' %>
  <%= partial 'profile/about/story' %>
</div>

<div class="row">
  <%= partial 'profile/about/collections' %>
  <%= partial 'profile/about/work' %>
</div>

<div class="row">
  <%= partial 'profile/about/education' %>
  <%= partial 'profile/about/places' %>
</div>

<div class="row">
  <%= partial 'profile/about/information' %>
  <%= partial 'profile/about/contact' %>
</div>

<div class="row">
  <%= partial 'profile/about/links' %>
</div>
