---
title: First Name - Socializer
---

<p><strong>Example:</strong> this is an example of the Profile toolbar</p>
<nav class="toolbar navbar navbar-toolbar navbar-default navbar-static-top" style="margin-bottom: 58px;">
  <ul class="nav navbar-nav">
    <li class="active"><a href="profile/about.html">About</a></li>
    <li><a href="/profile.html">Posts</a></li>
    <li><a href="#">Collections</a></li>
    <li><a href="#">Photos</a></li>
    <li><a href="#">Videos</a></li>
    <li><a href="#">Likes</a></li>
  </ul>
</nav>

<div class="row">
  <%= partial 'profile/about/people' %>
  <%= partial 'profile/about/story' %>
</div>

<div class="row">
  <%= partial 'profile/about/groups' %>
  <%= partial 'profile/about/work' %>
</div>

<div class="row">
  <%= partial 'profile/about/education' %>
</div>

<div class="row">
  <%= partial 'profile/about/information' %>
</div>

<div class="row">
  <%= partial 'profile/about/links' %>
</div>
