---
title: First Name - Socializer
---

<p><strong>Example:</strong> this is an example of the Profile toolbar</p>
<nav class="toolbar navbar navbar-toolbar navbar-default navbar-static-top" style="margin-bottom: 58px;">
  <ul class="nav navbar-nav">
    <li><%= link_to('About', '/profile/about.html') %></li>
    <li><%= link_to('Posts', '/profile.html') %></li>
    <li><%= link_to('Collections', '/profile/collections.html') %></li>
    <li class="active"><%= link_to('Photos', '/profile/photos.html') %></li>
    <li><%= link_to('Videos', '/profile/videos.html') %></li>
    <li><%= link_to('Likes', '/profile/likes.html') %></li>
  </ul>
</nav>

<article class='media card'>
  <section class='media-object'>
    <img alt='48x48' data-src='holder.js/48x48/acs' class='media-object'>
  </section>

  <section class='media-body'>
    <header>
      <div class='btn-group pull-right'>
        <a href='#' data-toggle='dropdown' class='btn btn-xs btn-transparent dropdown-toggle'>
          <span class='fa fa-angle-down fa-lg'></span>
        </a>
        <ul class='dropdown-menu'>
          <li><a href='#'>Edit</a></li>
          <li><a href='#'>Delete</a></li>
          <li class='divider'></li>
          <li><a href='#'>Link to post</a></li>
          <li class='divider'></li>
          <li><a href='#'>Disable comments</a></li>
          <li><a href='#'>Disable sharing</a></li>
        </ul>
      </div>

      <h1>
        <a href='#'>First Last</a>
        <small class='text-muted'> -
          <a class='text-muted' title='Jan 25, 2014 10:16:04 AM' href='#'>4 hours ago</a> -
          <a class='text-muted' data-keyboard='true' data-backdrop='static' data-controls-modal1='modal-from-dom' title='Sharing details' id='visibility'>Limited</a>
        </small>
      </h1>
    </header>

    <p class="text-muted">
      <small>4 images</small> |
      <small>12 views</small> |
      <small><span class='fa fa-map-marker'></span> Someplace, SP</small>
    </p>

    <ul class='fa-ul text-muted small'>
      <li><span class='fa-li fa fa-image'></span>4 images</li>
      <li><span class='fa-li fa fa-calendar'></span>Jun 27 - Jun 28</li>
      <li><span class='fa-li fa fa-map-marker'></span>Someplace, SP</li>
      <li><span class='fa-li fa fa-thumbs-o-up'></span>2 likes</li>
      <li><span class='fa-li fa fa-users'></span>12 views</li>
    </ul>

    <p>
      A brief description of the album. This way albums don't need a cover image.
      Display first 4 images or use a carousel/slideshow. Allow carousel/slideshow images to be zomed.
      Use dimensions-rails to automatically add image sizes.
      The description should be no longer than 2 lines.
    </p>

    <div class="row">
      <div class="col-sm-3">
        <a href="#" class="thumbnail">
          <img data-src="holder.js/180x120" alt="Generic placeholder thumbnail">
        </a>
      </div>
      <div class="col-sm-3">
        <a href="#" class="thumbnail">
          <img data-src="holder.js/180x120" alt="Generic placeholder thumbnail">
        </a>
      </div>
      <div class="col-sm-3">
        <a href="#" class="thumbnail">
          <img data-src="holder.js/180x120" alt="Generic placeholder thumbnail">
        </a>
      </div>
      <div class="col-sm-3">
        <a href="#" class="thumbnail">
          <img data-src="holder.js/180x120" alt="Generic placeholder thumbnail">
        </a>
      </div>
    </div>

    <footer class='media-body-footer'>
      <div class='btn-group'>
        <a title='Like' class='btn btn-default btn-sm' href='#'><span class='fa fa-thumbs-o-up text-muted'></span></a>
        <a title='Share' class='btn btn-default btn-sm' href='#'><span class='fa fa-share text-muted'></span> 1</a>
      </div>
    </footer>

    <section class='media-comments'>
      <div class='row'>
        <!-- Add a comment -->
        <form action=''>
          <div class='col-xs-12'>
            <input class='form-control' type='text' placeholder='Add a comment...' id='comment-temp'>
          </div>
        </form>
      </div>
    </section>
  </section><!-- .media-body -->
</article>

<div class="row">
  <%= partial 'photos/album' %>
  <%= partial 'photos/album' %>
</div>

<div class="row">
  <%= partial 'photos/photo' %>
  <%= partial 'photos/photo' %>
</div>
