---
title: Profile - Socializer
---

<p><strong>Example:</strong> this is an example of the Profile toolbar</p>
<nav class="toolbar navbar navbar-toolbar navbar-default navbar-static-top" style="margin-bottom: 58px;">
  <ul class="nav navbar-nav">
    <li><%= link_to('About', '/profile/about.html') %></li>
    <li class="active"><%= link_to('Posts', '/profile.html') %></li>
    <li><%= link_to('Collections', '/profile/collections.html') %></li>
    <li><%= link_to('Photos', '/profile/photos.html') %></li>
    <li><%= link_to('Videos', '/profile/videos.html') %></li>
    <li><%= link_to('Likes', '/profile/likes.html') %></li>
  </ul>
</nav>

<!-- Share -->
<%= partial :share %>

<!-- Link -->
<%= partial :link %>

<!-- Note -->
<%= partial :note %>

<!-- Event -->
<%= partial :event %>

<h1>Photos</h1>

<h1>Videos</h1>

<h1>Likes</h1>
